<!-- Generated template for the CalcFormComponent component -->
<div class="ui raised segment">
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="ui form">
    <table>
      <tr class="field" [class.error]="!flavor_ml.valid && flavor_ml.touched">
          <th>フレーバー量</th>
          <td>
            <div><input type="text" [formControl]="form.controls['flavor_ml']" /> ml</div>
            <div *ngIf="!flavor_ml.valid && flavor_ml.touched" class="ui error message">フレーバー量が不正です。</div>
            <div *ngIf="flavor_ml.hasError('required') && flavor_ml.touched" class="ui error message">フレーバー量を入力してください。</div>
        </td>
      </tr>

      <tr class="field" [class.error]="!nico_c.valid && nico_c.touched">
        <th>ニコチン原液濃度</th>
        <td>
          <div><input type="text" [formControl]="form.controls['nico_c']" /> mg/ml</div>
          <div *ngIf="!nico_c.valid && nico_c.touched" class="ui error message">ニコチン原液濃度が不正です。</div>
          <div *ngIf="nico_c.hasError('required') && nico_c.touched" class="ui error message">ニコチン原液濃度を入力してください。</div>
        </td>
      </tr>

      <tr class="field" [class.error]="!liq_c.valid && liq_c.touched">
        <th>作成したいニコチン濃度</th>
        <td>
          <div><input type="text" [formControl]="form.controls['liq_c']" /> ml</div>
          <div *ngIf="!liq_c.valid && liq_c.touched" class="ui error message">作成したいニコチン濃度が不正です。</div>
          <div *ngIf="liq_c.hasError('required') && liq_c.touched" class="ui error message">作成したいニコチン濃度を入力してください。</div>
        </td>
      </tr>

      <tr><td>
        　
      </td></tr>

      <tr>
        <td colspan=2><button type="submit" class="ui button">計算する</button></td>
      </tr>

      <tr><td>
        　
      </td></tr>

      <tr class="ans" *ngIf="nico_ml">
        <th>ニコチン原液量:</th>
        <td>{{nico_ml}} ml</td>
      </tr>

      <tr class="ans" *ngIf="nico_ml">
        <th>ニコチンリキッド量:</th>
        <td>{{liq_ml}} ml</td>
      </tr>
    </table>
  </form>
</div>
